@page "/"

@using ServerLocalizationResx.Resources

@using System.Globalization
@using Telerik.Blazor.Services

@inject ITelerikStringLocalizer TelerikLocalizer

<PageTitle>Home</PageTitle>

<ul>
    <li><b>CurrentCulture</b>: @CultureInfo.CurrentCulture</li>
    <li><b>CurrentUICulture</b>: @CultureInfo.CurrentUICulture</li>
    <li><b>Date</b>: @DateTimeValue</li>
    <li><b>Number</b>: @DoubleValue.ToString("C2")</li>
</ul>

<TelerikDateTimePicker @bind-Value="@DateTimeValue"
                       Width="360px" />

<br />
<br />

<TelerikNumericTextBox @bind-Value="@DoubleValue"
                       Width="120px" />

<br />
<br />

<TelerikButton>@TelerikLocalizer[nameof(TelerikMessages.Grid_Create)]</TelerikButton>
<TelerikButton>@TelerikLocalizer[nameof(TelerikMessages.Grid_Edit)]</TelerikButton>
<TelerikButton>@TelerikLocalizer[nameof(TelerikMessages.Grid_Update)]</TelerikButton>

<br />
<br />

<TelerikFilter @bind-Value="@FilterValue">
    <FilterFields>
        <FilterField Name="DumyField" Type="@typeof(string)" />
    </FilterFields>
</TelerikFilter>

<br />

<TelerikFileSelect />

@code {
    private DateTime DateTimeValue { get; set; } = DateTime.Now;

    private double DoubleValue { get; set; } = 123.45;

    private Telerik.DataSource.CompositeFilterDescriptor FilterValue { get; set; } = new();
}
