@page "/grid/templates"

@using TelerikBlazor.Shared
@using Telerik.Blazor.Components.Grid

<h4> Row Template </h4>

<TelerikGrid Data=@GridData Height="@Height">
    <RowTemplate Context="product">
        <td>
            <img class="rounded-circle" src="@($"images/{product.ProductId}.jpg")" alt="Alternate Text" />
            @product.ProductName
        </td>
        <td>
            @(String.Format("{0:C2}", product.UnitPrice))
        </td>
    </RowTemplate>
    <TelerikGridColumns>
        <TelerikGridColumn Field=@nameof(Product.ProductName) Title="Product Name" />
        <TelerikGridColumn Field=@nameof(Product.UnitPrice) Title="Unit Price" />
    </TelerikGridColumns>
</TelerikGrid>

<h4> Column Templates </h4>

<TelerikGrid Data=@GridData Height="@Height">
    <TelerikGridColumns>
        <TelerikGridColumn Field=@nameof(Product.ProductName) Title="Product Name">
            <Template>
                @{
                    var product = context as Product;
                    <img class="rounded-circle" src="@($"images/{product.ProductId}.jpg")" alt="Alternate Text" />
                    <span>@product.ProductName</span>
                }
            </Template>
        </TelerikGridColumn>
        <TelerikGridColumn Field=@nameof(Product.UnitPrice) Title="Unit Price">
            <Template>
                @(String.Format("{0:C2}", (context as Product).UnitPrice))
            </Template>
        </TelerikGridColumn>
    </TelerikGridColumns>
</TelerikGrid>

@functions {
    public IEnumerable<Product> GridData { get; set; }
    public int Height = 500;

    protected override void OnInit()
    {
        List<Product> products = new List<Product>();
        for (int i = 1; i < 10; i++)
        {
            products.Add(new Product()
            {
                ProductId = i,
                ProductName = "Product" + i.ToString(),
                SupplierId = i,
                UnitPrice = (decimal)(i * 3.14),
                UnitsInStock = (short)(i * 1),
            });
        }

        GridData = products.AsQueryable();
    }
}
