@page "/grid/templates"

@using TelerikBlazor.Shared
@inject HttpClient Http

<h4> Row Template </h4>

<KendoGrid Data=@GridData Height="@Height">
    <RowTemplate Context="product">
        <td>
            <img class="rounded-circle" src="@($"/images/{product.ProductId}.jpg")" alt="Alternate Text" />
            @product.ProductName
        </td>
        <td>
            @(String.Format("{0:C2}", product.UnitPrice))
        </td>
    </RowTemplate>
    <KendoGridColumns>
        <KendoGridColumn Field=@nameof(Product.ProductName) Title="Product Name" />
        <KendoGridColumn Field=@nameof(Product.UnitPrice) Title="Unit Price" />
    </KendoGridColumns>
</KendoGrid>

<h4> Column Templates </h4>

<KendoGrid Data=@GridData Height="@Height">
    <KendoGridColumns>
        <KendoGridColumn Field=@nameof(Product.ProductName) Title="Product Name">
            <Template>
                @{
                    var product = context as Product;
                    <img class="rounded-circle" src="@($"/images/{product.ProductId}.jpg")" alt="Alternate Text" />
                    <span>@String.Format("{0:C2}", product.ProductName)</span>
                }
            </Template>
        </KendoGridColumn>
        <KendoGridColumn Field=@nameof(Product.UnitPrice) Title="Unit Price">
            <Template>
                @(String.Format("{0:C2}", (context as Product).UnitPrice))
            </Template>
        </KendoGridColumn>
    </KendoGridColumns>
</KendoGrid>

@functions {
    public IEnumerable<Product> GridData { get; set; }
    public int Height = 500;

    protected override async Task OnInitAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        GridData = await Http.GetJsonAsync<Product[]>("api/NorthwindData/Products");
    }
}
