@page "/"

@using TooltipForGridElements.Models
@using TooltipForGridElements.Services

@inject EmployeeService EmployeeService
This example shows how to load content on demant for tooltips that target elements inside a grid.

@GridData?.Count

<TelerikGrid Data="@GridData" Height="400px"
             Pageable="true" Sortable="true" Groupable="true"
             FilterMode="Telerik.Blazor.GridFilterMode.FilterRow"
             Resizable="true" Reorderable="true">
    <GridColumns>
        <GridColumn Field="@(nameof(BasicEmployee.Id))" Width="120px" />
        <GridColumn Field="@(nameof(BasicEmployee.Name))" Title="Employee Name" Groupable="false">
            <Template>
                @{
                    BasicEmployee employee = context as BasicEmployee;
                    <span data-employeeId="@employee.Id" class="tooltip-target">@employee.Name</span>
                    @* This element will act as target for the tooltips *@
                }
            </Template>
        </GridColumn>
        <GridColumn Field="@(nameof(BasicEmployee.Team))" Title="Team" />
    </GridColumns>
</TelerikGrid>

<TelerikTooltip TargetSelector=".k-grid .tooltip-target"
                Width="350px" Height="250px" Position="@TooltipPosition.Right">
    <Template>
        <EmployeeDetails TargetData="@context.TargetDataAttributes" />
    </Template>
</TelerikTooltip>

@code {
    public List<BasicEmployee> GridData { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        GridData = await EmployeeService.GetEmployees();
        // we update the data outside of the standard cycle, so we need this call
        // if we did it in OnInitializedAsync we wouldn't. We do it here to load it only once
        // and avoid loading during pre-rendering, just as an example
        StateHasChanged();
    }
}