@page "/withTelerik"
@* Uses a layout that adds the Telerik Root Component, and provides localization service *@
@layout TelerikLayout
@* The rest is some sample components to showcase they work and that localization also works *@

@* Note that strings from the current page (component) like the button texts, must come from the app localization now *@
@inject Microsoft.Extensions.Localization.IStringLocalizer<WithTelerikComponents> Loc



@inject HttpClient Http
@using LazyLoadTelerikComponents.Shared


Current UI culture (used for localization): @System.Threading.Thread.CurrentThread.CurrentUICulture.Name
<br />
Current thread culture (used for date and number formatting): @System.Threading.Thread.CurrentThread.CurrentCulture.Name

<CultureChooser />

<TelerikGrid Data="@Forecasts"
             Pageable="true" Groupable="true" Sortable="true"
             FilterMode="@GridFilterMode.FilterMenu"
             EditMode="@GridEditMode.Inline"
             OnCreate="@CreateHandler" OnUpdate="@UpdateHandler" OnDelete="@DeleteHandler">
    <GridToolBarTemplate>
        <GridCommandButton Command="Add" Icon="@SvgIcon.Plus">@Loc["Grid_Create"]</GridCommandButton>
    </GridToolBarTemplate>
    <GridColumns>
        <GridColumn Field="@(nameof(WeatherForecast.Date))">
            <Template>
                @((context as WeatherForecast).Date.ToShortDateString())
            </Template>
        </GridColumn>
        <GridColumn Field="@(nameof(WeatherForecast.TemperatureC))" />
        <GridColumn Field="@(nameof(WeatherForecast.TemperatureF))" />
        <GridColumn Field="@(nameof(WeatherForecast.Summary))" />
        <GridCommandColumn>
            <GridCommandButton Command="Edit" Icon="@SvgIcon.Pencil">@Loc["Grid_Edit"]</GridCommandButton>
            <GridCommandButton Command="Delete" Icon="@SvgIcon.Trash">@Loc["Grid_Delete"]</GridCommandButton>
            <GridCommandButton Command="Save" Icon="@SvgIcon.Save" ShowInEdit="true">@Loc["Grid_Update"]</GridCommandButton>
            <GridCommandButton Command="Cancel" Icon="@SvgIcon.Save" ShowInEdit="true">@Loc["Grid_Cancel"]</GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

<p>The Calendar will also take the names of the months, days of the week and the first day of the week from the culture.</p>

<TelerikCalendar @bind-Date="@DateValue" />

<p>The numeric textbox also reacts to the culture and uses its standard numeric formats.</p>
<TelerikNumericTextBox @bind-Value="@NumericValue" Format="N" />


@code {
    private decimal NumericValue { get; set; } = 1234567.89123m;
    private DateTime DateValue { get; set; } = DateTime.Now.Date;
    private List<WeatherForecast> Forecasts { get; set; } = new List<WeatherForecast>();

    protected override async Task OnInitializedAsync()
    {
        Forecasts = await Http.GetFromJsonAsync<List<WeatherForecast>>("WeatherForecast?count=150");
    }

    // sample CUD operations to showcase how to localize command buttons as well
    private void UpdateHandler(GridCommandEventArgs args)
    {
        WeatherForecast item = (WeatherForecast)args.Item;
        var matchingItem = Forecasts.FirstOrDefault(c => c.Id == item.Id);
        if (matchingItem != null)
        {
            matchingItem.Summary = item.Summary;
            matchingItem.TemperatureC = item.TemperatureC;
            matchingItem.Date = item.Date;
        }
    }

    private void DeleteHandler(GridCommandEventArgs args)
    {
        var item = (WeatherForecast)args.Item;
        Forecasts.Remove(item);
    }

    private void CreateHandler(GridCommandEventArgs args)
    {
        var item = (WeatherForecast)args.Item;

        item.Id = Forecasts.Count + 1;
        Forecasts.Insert(0, item);
    }
}
