@page "/dropdownlist/validation"

@using TelerikBlazor.Shared
@using System.ComponentModel.DataAnnotations
@using Telerik.Blazor.Components.DropDownList

<EditForm Model="@employee" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>

    <TelerikDropDownList bind-Value="@employee.EmployeeId" Height="40" DefaultItem="@DefaultItem" Data="@DropDownListData" ValueField="EmployeeId" TextField="Name">
    </TelerikDropDownList>

    <button class="k-button" type="submit">Submit</button>
</EditForm>

<p>
    @SuccessMessage
</p>


@functions  {

    class DropDownValidationModel
    {
        [Required(ErrorMessage = "Choose an employee")]
        public int? EmployeeId { get; set; }

        public string Name { get; set; }
    }

    IEnumerable<DropDownValidationModel> DropDownListData { get; set; }
    DropDownValidationModel employee { get; set; } = new DropDownValidationModel();
    DropDownValidationModel DefaultItem { get; set; } = new DropDownValidationModel()
    {
        Name = "Choose an employee"
    };

    protected override void OnInit()
    {
        List<DropDownValidationModel> employees = new List<DropDownValidationModel>();
        for (int i = 0; i < 10; i++)
        {
            employees.Add(new DropDownValidationModel()
            {
                Name = "John " + i.ToString(),
                EmployeeId = i
            });
        }

        DropDownListData = employees.AsQueryable();
        base.OnInit();
    }

    string SuccessMessage = string.Empty;

    void HandleValidSubmit()
    {
        SuccessMessage = "Form Submitted Successfully!";
    }
}

<style type="text/css">
    .example-wrapper {
        min-height: 250px;
    }
</style>