@layout TelerikLayout

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
        </div>
        <TelerikRootComponent>
            <TelerikNotification @ref="@Notification"
                                 HorizontalPosition="@NotificationHorizontalPosition.Right"
                                 VerticalPosition="@NotificationVerticalPosition.Top">
            </TelerikNotification>

            <TelerikLoaderContainer Visible="@LoaderVisible" LoaderType="@LoaderType.ConvergingSpinner" Size="@LoaderSize.Large"></TelerikLoaderContainer>

            <CascadingValue IsFixed="true" Value="@Notification">
                <CascadingValue Value="@ChangeLoaderVisibility" TValue="Action<bool>">
                    <div class="content px-4">
                        @Body
                    </div>
                </CascadingValue>
            </CascadingValue>
        </TelerikRootComponent>
    </div>
</div>
@code {
    public TelerikNotification Notification { get; set; } = new TelerikNotification();
    public bool LoaderVisible { get; set; }

    public void ChangeLoaderVisibility(bool visible)
    {
        LoaderVisible = visible;
        StateHasChanged();
    }
}