@page "/settings"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager navManager

<TelerikTileLayout Columns="3"
                   RowHeight="400px"
                   ColumnWidth="380px"
                   Reorderable="true"
                   Resizable="true">
    <TileLayoutItems>
        <TileLayoutItem RowSpan="2" ColSpan="2">
            <Content>
                <div class="k-d-flex-col">
                    <div class="k-align-items-start">
                        <TelerikButton Title="account-button" 
                                       Icon="@SvgIcon.User" 
                                       ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)"
                                       FillMode="@(ThemeConstants.Button.FillMode.Flat)" 
                                       Class="k-state-selected">Account</TelerikButton>
                        <TelerikButton Title="security-button" 
                                       Icon="@SvgIcon.Lock" 
                                       Enabled="false"
                                       ThemeColor="@(ThemeConstants.Button.ThemeColor.Secondary)" 
                                       FillMode="@(ThemeConstants.Button.FillMode.Flat)">Security</TelerikButton>
                        <div class="k-separator">&nbsp;</div>
                    </div>
                    <div class="k-d-flex-row k-justify-content-around">
                        <div style="margin: 15px 20px 0px 10px;">
                            <TelerikSvgIcon Icon="@SvgIcon.User" Size="@ThemeConstants.SvgIcon.Size.ExtraLarge" />
                        </div>
                        <TelerikForm EditContext="@EditContext" Columns="2" ColumnSpacing="20px" Width="100%">
                            <FormValidation>
                                <DataAnnotationsValidator></DataAnnotationsValidator>
                            </FormValidation>
                            <FormItems>
                                <FormGroup>
                                    <FormItem Field="@nameof(settingsModel.Username)"></FormItem>
                                    <FormItem Field="@nameof(settingsModel.Nickname)"></FormItem>
                                </FormGroup>
                                <FormGroup>
                                    <FormItem Field="@nameof(settingsModel.Email)"></FormItem>
                                    <FormItem Field="@nameof(settingsModel.Phone)"></FormItem>
                                </FormGroup>
                            </FormItems>
                            <FormButtons>
                            </FormButtons>
                        </TelerikForm>
                    </div>
                    <div class="k-d-flex-row k-justify-content-around">
                        <div style="margin: 15px 20px 0px 10px;">
                            <TelerikSvgIcon Icon="@SvgIcon.InfoCircle" Size="@ThemeConstants.SvgIcon.Size.ExtraLarge" />
                        </div>
                        <TelerikForm EditContext="@EditContext" Columns="2" ColumnSpacing="20px" Width="100%">
                            <FormValidation>
                            </FormValidation>
                            <FormItems>
                                <FormGroup>
                                    <FormItem Field="@nameof(settingsModel.BirthDate)">
                                        <Template>
                                            Birth Date
                                            <TelerikDateInput @bind-Value="@settingsModel.BirthDate" Format="dd MMMM yyyy">
                                            </TelerikDateInput>
                                        </Template>
                                    </FormItem>
                                    <FormItem Field="@nameof(settingsModel.Website)"></FormItem>
                                </FormGroup>
                                <FormGroup>
                                    <FormItem Field="@nameof(settingsModel.Country)" LabelText="Country">
                                        <Template>
                                            Country
                                            <TelerikDropDownList Data="@settingsModel.Country" TextField="MyTextField" ValueField="MyValueField" @bind-Value="selectedValue" Width="100%">
                                            </TelerikDropDownList>
                                        </Template>
                                    </FormItem>
                                    <FormItem Field="@nameof(settingsModel.Phone)"></FormItem>
                                </FormGroup>
                            </FormItems>
                            <FormButtons>
                            </FormButtons>
                        </TelerikForm>
                    </div>
                    <br />
                    <div>
                        <TelerikSwitch @bind-Value="@switchValue"
                                       Width="70px"
                                       OnLabel="On"
                                       OffLabel="Off">
                        </TelerikSwitch> Public Profile
                        <TelerikButton Class="disabled-btn" OnClick=@(()=> WindowVisible = true) ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Save Changes</TelerikButton>
                    </div>
                </div>
            </Content>
        </TileLayoutItem>
        <TileLayoutItem HeaderText="Date" RowSpan="1" ColSpan="1">
            <Content>
                <div style="display:flex; justify-content:center; flex-direction:row; align-content:center;height:100%">
                    <TelerikCalendar Min="@min" Max="@max" ValueChanged="@MyValueChangeHandler" @bind-Date="@theDate">
                    </TelerikCalendar>
                </div>
            </Content>
        </TileLayoutItem>
        <TileLayoutItem RowSpan="1" ColSpan="1">
            <HeaderTemplate>
                <span class="k-card-title">Weather</span>
                <span class="k-spacer k-toolbar-spacer"></span>
                <a class="k-card-title k-link" style="float: right; color: #0058E9; display:flex; align-items:center;"><div style="margin-right:9px"><TelerikSvgIcon Icon="@SvgIcon.Globe"></TelerikSvgIcon></div><span>Sofia</span></a>
            </HeaderTemplate>
            <Content>
                <div class="k-d-flex-col k-align-items-center k-justify-content-around">
                    <div class="cloudImg" style="width: 100px; height: 100px;"></div>
                    <div class="k-state-disabled">Partly Cloudy</div>
                    <div style="font-size: 70px; line-height: 84px; color: #0058E9">12 °C</div>
                </div>
                <div class="k-card-footer">
                    <div class="weather-data-container k-d-flex-row k-align-items-center k-justify-content-center">
                        <div>
                            Humidity:<br>
                            Dew:<br>
                            Pressure:<br>
                            Wind Speed:
                        </div>
                        <div>
                            76%<br>
                            2˚C<br>
                            1031mb<br>
                            12km/h NW
                        </div>
                    </div>
                </div>
            </Content>
        </TileLayoutItem>
    </TileLayoutItems>
</TelerikTileLayout>

<TelerikWindow Class="demo-window" Width="500px" Height="300px" Centered="true" @bind-Visible=@WindowVisible Modal="true">
    <WindowTitle>
        <strong>Changed Settings</strong>
    </WindowTitle>
    <WindowActions>
        <WindowAction Name="Close" />
    </WindowActions>
    <WindowContent>
        <h5 style="text-align: center; margin-top: 55px;">Successfully made changes!</h5>
        <TelerikButton Class="window-btn" OnClick="@WindowButtonClicked" ThemeColor="@(ThemeConstants.Button.ThemeColor.Primary)">Return to Home Page</TelerikButton>
    </WindowContent>
</TelerikWindow>

<style>
    #settings .k-card-header {
        border-style: none;
    }

    .demo-window {
        z-index: 44444;
    }

    .weather-data-container {
        padding: 8px 0px 0px;
        gap: 18px
    }

        .weather-data-container > div {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
        }

            .weather-data-container > div:nth-child(1) {
                font-weight: bold;
                text-align: right;
            }

    .k-justify-content-around {
        justify-content: normal;
    }

    .disabled-btn {
        float: right;
    }

    .window-btn {
        width: 100%;
        margin-top: 75px;
    }

    .cloudImg {
        background: url("/assets/settings/cloud.svg");
    }
</style>
