@inject ITelerikStringLocalizer L

<div class="k-drawer-items">
    <header>
        <LoginDisplay />
    </header>
    <ul role="menubar" aria-orientation="vertical">
        <li class="k-drawer-item k-drawer-separator"></li>
        <DrawerNavLink href="@Home.Url" Text="@Home.Text" Icon="@Home.Icon" Match="NavLinkMatch.All" />
        @foreach (var item in Data.Where(item => item.Group == "app"))
        {
            <DrawerNavLink href="@item.Url" Text="@item.Text" Icon="@item.Icon" />
        }
    </ul>
    <footer>
        <h3 class="title">@L["Nav_MoreInfo"]</h3>
        <ul role="menubar" aria-orientation="vertical">
            <li class="k-drawer-item k-drawer-separator"></li>
            @foreach (DrawerItem item in Data.Where(item => item.Group == "ext"))
            {
                <DrawerNavLink href="@item.Url" Text="@item.Text" Icon="@item.Icon" />
            }
        </ul>
    </footer>
</div>

@code {

    [Parameter] public IEnumerable<DrawerItem> Data { get; set; }

    DrawerItem Home => Data.First();

}